black==25.1.0
click==8.2.1
colorama==0.4.6
coverage==7.10.1
iniconfig==2.1.0
mypy==1.17.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pygame==2.6.1
Pygments==2.19.2
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
pytest==8.4.1
pytest-cov==6.2.1
shiboken6==6.9.1
typing_extensions==4.14.1
